@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom styles */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Smooth rendering */
* {
  box-sizing: border-box;
}